.menuItems {
  list-style: none;
  position: relative;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button {
  background-color: transparent;
  color: white;
  padding: 0;
}

.button:hover {
  color: #fbd13e;
  border-color: transparent;
}

.button:hover path {
  fill: #fbd13e;
}

.button:focus {
  outline: none;
  color: #fbd13e;
}

.button:focus path {
  fill: #fbd13e;
}

.button:focus svg {
  rotate: 180deg;
}

.link {
  color: white;
}

.link:hover {
  color: #fbd13e;
}

@media (max-width: 467px) {
  .menuItems {
    border-bottom: 1px solid #3d3d3d;
  }

  .button {
    width: 70%;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 16px 0;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
  }

  .button:hover {
    color: #fbd13e;
    border-color: transparent;
  }

  .button:hover path {
    fill: #fbd13e;
  }

  .button:focus {
    color: #999;
  }

  .button:focus path {
    fill: #999;
  }

  .button:focus svg {
    rotate: 180deg;
  }

  .arrow {
    margin: 0 75px 0 35px;
    width: 20px;
    height: 20px;
  }

  .link {
    padding: 16px;
    width: 70%;
    text-align: left;
    display: block;
    margin: 0 auto;
  }

  .link:hover {
    color: #fbd13e;
  }
}
