.main {
  position: relative;
  &__content {
    display: flex;
  }
  .container {
    min-width: 1500px;
    margin: 0 25px auto;
  }
  .content__text {
    margin-top: 45px;
    width: 312px;
    height: 98px;
    font-size: 25px;
    font-weight: 500;
  }
  .content__decor {
    position: absolute;
    left: -10px;
    top: 180px;
  }
  .content__tel {
    margin-top: 247px;
    font-size: 25px;
    font-weight: 500;
  }
  .tel__hover:hover{
    color:#dbb325;
    transition: 0.5s ease;
  }
  .content__email {
    margin-top: 37px;
    text-decoration-line: underline;
    font-size: 18px;
    font-weight: 500;
  }
  .content__email:hover{
    color:#dbb325;
    transition: 0.5s ease;
  }
  .content__card {
    margin-top: 70px;
  }
  .content__image {
    margin-left: 92px;
  }
  .image__decor {
    position: absolute;
    right: 0;
    top: 555px;
  }
  .image__red {
    position: absolute;
    left: 495px;
    top: 460px;
  }
  .red__title {
    position: absolute;
    left: 560px;
    top: 485px;
    width: 220px;
    height: 60px;
    font-size: 25px;
    font-weight: 500;
  }
  .red__weight {
    position: absolute;
    left: 560px;
    top: 565px;
    width: 50px;
    height: 20px;
    background-color: grey;
    border-radius: 3px;
    padding: 1px 8px;
    font-size: 13px;
    font-weight: 500;
  }
  .red__description {
    position: absolute;
    left: 560px;
    top: 605px;
    width: 231px;
    height: 103px;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
  }
  .red__price {
    position: absolute;
    left: 560px;
    top: 740px;
    font-size: 23px;
    font-weight: 800;
  }
  .red__cart {
    position: absolute;
    left: 670px;
    top: 735px;
    width: 42px;
    height: 42px;
    background-color: #FBD13E;
  }
  .red__cart:hover{
    background-color: #dbb325;
  }
  .card__title {
    font-size: 20px;
    font-weight: 500;
  }
  .card__weight {
    margin-top: 5px;
    width: 50px;
    height: 20px;
    background-color: grey;
    border-radius: 3px;
    padding: 1px 7px;
    font-size: 13px;
    font-weight: 500;
  }
  .card__price {
    font-size: 23px;
    font-weight: 800;
  }
  .card__cart {
    position: absolute;
    top: 1064px;
    left: 140px;
    width: 42px;
    height: 42px;
    z-index: 10;
    background-color: #FBD13E;
  }
  .card__cart:hover {
    background-color: #dbb325;
    box-shadow: 0px 10px 31px 0px rgba(15, 15, 17, 0.2);
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 1023px){
    .content__image{
      background-image: url("https://res.cloudinary.com/dk4wwlrws/image/upload/v1698590003/e3wqqqkdjbtoazqv97in.png");
    }
  }