.container {
    margin: 20px;   
    padding: 10px;
    background-color: #9ea2aa;
    }

.containerFluid {
    display: flex;   
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }      

.pagesTitle {
    font-size: 24px;
    color: #000;
    text-align: center;
    font-weight: bold;
    }    

.informationViev {
    margin-top: 20px;
    color: #333333;
    }    

.p {
    font-size: 18px;
    color: #333333;
    }    
.informationTermin {
    font-weight: 600;
}
.ol {
    color: #000;
    margin-top: 10px;
    font-weight: bold;    
    }

.li ::before { 
    content: "1";
    font-size: 16px;
    margin-right: 0.5em;
    color: #333333;
    }

    