.title {
    margin-bottom: 50px;
    font-size: 80px;
    line-height: 90px;
    text-align: center;
}

.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: (repeat(5, 1fr));
    gap: 40px 30px;
}

@media (max-width: 1400px) {
    .title{
        margin-top: 600px;
    }
    .grid {
        grid-template-columns: (repeat(4, 1fr));
    }
}

@media (max-width: 990px) {
    .grid {
        grid-template-columns: (repeat(3, 1fr));
    }
    .title {
        margin-bottom: 50px;
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: (repeat(2, 1fr));
    }
}

@media (max-width: 555px) {
    .grid {
        grid-template-columns: (repeat(1, 1fr));
    }
}