.cartItem {
  display: flex;
  width: 100%;
  height: 180px;
  border-top: 1px solid #000000;
  margin-bottom: 10px;
  background-color: #000000;
}
@media (max-width: 768px) {
  .cartItem {
    flex-flow: row wrap;
  }
  .cartItem .cartItem ::before,
  .cartItem .cartItem ::after {
    content: "";
    width: 100%;
    order: 1;
  }
}
.cartItem__img {
  display: flex;
  align-items: center;
  margin-right: 15px;
  width: 20%;
}
@media (max-width: 768px) {
  .cartItem__img {
    width: 0%;
    margin-right: 0px;
  }
}
.cartItem__img img {
  width: 180px;
  height: 180px;
}
@media (max-width: 990px) {
  .cartItem__img img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 768px) {
  .cartItem__img img {
    display: none;
  }
}
.cartItem__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.cartItem__info h3 {
  font-size: 20px;
  line-height: 1.25;
}
@media (max-width: 768px) {
  .cartItem__info {
    flex-direction: row-reverse;
    justify-content: start;
    order: 1;
    width: 90%;
    padding-left: 11px;
  }
  .cartItem__info h3 {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 15px;
  }
  .cartItem__info p {
    font-size: 10px;
    margin-top: 18px;
    margin-right: 10px;
  }
}
.cartItem__price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.cartItem__price b {
  font-size: 23px;
  line-height: 1.22;
  letter-spacing: 0.01em;
}
.cartItem__price p {
  display: none;
}
@media (max-width: 990px) {
  .cartItem__price b {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .cartItem__price {
    display: flex;
    flex-direction: column;
    order: 4;
    width: 35%;
  }
  .cartItem__price b {
    font-size: 15px;
  }
  .cartItem__price p {
    display: block;
    font-size: 10px;
    color: #9EA2AA;
  }
}
.cartItem__count {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  margin-top: 10px;
  height: 60px;
  width: 80px;
  top: 50px;
  position: relative;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.cartItem__count .counter__input {
  height: 60px;
  width: 80px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}
.cartItem__count .counter__input::-webkit-outer-spin-button,
.cartItem__count .counter__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cartItem__count .counter__input {
  -moz-appearance: textfield;
}
.cartItem__count .counter__btn {
  top: 7px;
  padding: 0 5px;
  position: absolute;
  font-size: 30px;
  background: black;
}
.cartItem__count .counter__btn:hover {
  color: #FBD13E;
  transition: color 0.3s;
}
.cartItem__count .btn__minus {
  left: -10px;
}
.cartItem__count .btn__plus {
  right: -13px;
}
@media (max-width: 990px) {
  .cartItem__count {
    top: 20px;
  }
}
@media (max-width: 768px) {
  .cartItem__count {
    order: 4;
    top: 0;
  }
}
.cartItem__totalPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.cartItem__totalPrice p {
  display: none;
}
.cartItem__totalPrice b {
  font-size: 22px;
  letter-spacing: 0.01em;
}
@media (max-width: 990px) {
  .cartItem__totalPrice b {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .cartItem__totalPrice {
    display: flex;
    flex-direction: column;
    order: 4;
    width: 35%;
  }
  .cartItem__totalPrice b {
    font-size: 15px;
  }
  .cartItem__totalPrice p {
    display: block;
    font-size: 10px;
    color: #9EA2AA;
  }
}
.cartItem__remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
}
@media (max-width: 768px) {
  .cartItem__remove {
    align-items: start;
    justify-content: end;
    order: 1;
    width: 10%;
  }
}
.cartItem__buttonRemove {
  background-color: #000000;
  border: 1px solid #B70000;
  width: 32px;
  height: 32px;
  border-width: 2px;
  cursor: pointer;
}
.cartItem__buttonRemove svg {
  transform: rotate(45deg);
}
.cartItem__buttonRemove svg path {
  fill: #B70000;
}
.cartItem__buttonRemove:hover {
  background-color: #B70000;
}
.cartItem__buttonRemove:hover svg path {
  fill: #ffffff;
}

.size {
  padding: 2px 4px;
  font-size: 13px;
  background-color: #56595d;
  border-radius: 3px;
  margin-top: 10px;
  align-self: start;
  text-align: center;
}/*# sourceMappingURL=CartItem.module.css.map */