.container__checkout_kosss {
    width: 96%;
    max-width: 1600px;
    margin: 0 auto;
    font-family: Montserrat;
  }
  
  .title__checkout_kosss {
    h1 {
      font-size: 50px;
      font-weight: 500;
      line-height: 55px;
      letter-spacing: 0em;
      text-align: left;
      padding-bottom: 10px;
  
      p {
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #9EA2AA;
      }
    }
  }
  
  .details__checkout_kosss {
    width: 810px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 40px 0;
  
    h2 {
      font-size: 25px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      color: #FFFFFF;
      border-bottom: 1px solid #3D3D3D;
    }
  
    p {
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #FFFFFF;
    }
    .content_contact__checkout_kosss{
    width: 360px;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    padding: 40px 0 40px;
      
    .guest-name__wraper_input {
      position: relative;
    
      &::before {
        content: "ІМ'Я";
        position: absolute;
        top: 30px;
        right: calc(100% + 30px);
        font-weight: 500;
        font-size: 13px;
        white-space: nowrap;
        color: #9EA2AA;}
    
      &::after {
        content: "*";
        position: absolute;
        top: 30px;
        right: calc(100% + 20px);
        color: #FBD13E;}
    }
      .guest-phone__wraper_input{
        position: relative;

        &::before {
          content: "Телефон";
          position: absolute;
          top: 30px;
          right: calc(100% + 10px); 
          weight: 500;
          size: 13px;
          margin-right: 20px; 
          white-space: nowrap;
          color: #9EA2AA;}
        &::after {
          content: "*";
          position: absolute;
          top: 30px;
          right: calc(100% + 20px);
          color: #FBD13E;}
      }
      .guest-email__wraper_input{
        position: relative;

        &::before {
          content: "EMAIL";
          position: absolute;
          top: 30px;
          right: 100%; 
          weight: 500;
          size: 13px;
          margin-right: 20px; 
          white-space: nowrap;
          color: #9EA2AA;} 
      }
      .guest-number__wraper_input{
        position: relative;

        &::before {
          content: "К-сть гостей";
          position: absolute;
          top: 30px;
          right: 100%; 
          weight: 500;
          size: 13px;
          margin-right: 20px; 
          white-space: nowrap;
          color: #9EA2AA;} 
      }
      
      p:nth-child(2) {
        color: #9EA2AA;
        font-size: 12px;
        display: flex;
        width: 80%;
        margin: 6px 0;
      }
      
      input[type="text"], input[type="number"], input[type="email"] {
      width: 360px;
      margin-top: 20px;
      
      padding: 10px;
      border: 1px solid #000000;
    
      & [type="number"], & [type="email"] {
        width: 360px;
      }
      }
    }
    .details_delivery__checkout_kosss {
      
      .type_delivery__checkout_kosss{
        display: flex;
        justify-content: space-between;
        
        padding-top: 30px;

        .delivery-option__checkout_kosss {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 20px;
          .type_delivery__cost_delivery{
            display: flex;
            justify-content: space-between;
            width: 95%;
            
            h3{
              font-size: 23px;
              font-weight: 800;
              line-height: 28px;
              letter-spacing: 0em;
            }
            
          }
          span{
            
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: #9EA2AA;
          }
        }
        
      }
      .delivery-input__checkout_kosss {
        width: 360px;
        margin-left: 30%;
        padding: 90px 0 60px;

        .guest-adress__wraper_input{
          position: relative;
          &::before {
            content: "ВУЛИЦЯ";
            position: absolute;
            top: 30px;
            right: calc(100% + 10px); 
            weight: 500;
            size: 13px;
            margin-right: 20px; 
            white-space: nowrap;
            color: #9EA2AA;}
          &::after {
            content: "АДРЕСА ДОСТАВКИ";
            position: absolute;
            bottom: 70px;
            left: 0;
            weight: 500;
            size: 13px;
            color: #9EA2AA;}
        }

        input {
          margin-top: 20px;
          width: 100%;
          height: 42px; 
         
          &:nth-child(3) {
            width: 100%;
            height: 100px;
          }
        }
        .number-app__checkout_kosss {
          display: flex;
          justify-content: space-between;

          input {
            width: 100px;
          }
        }
      }
    }
    .details_payment__checkout_kosss{
      h2{
        margin-bottom: 30px;
      }
    }
  }
  
  .delivery-option__checkout_kosss, .payment-option__checkout_kosss {
    width: 390px;
    height: 140px;
    border: 1px dashed #9EA2AA;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
  
    &.active {
      border-color: #FBD13E;
      background-color: #FBD13E;
    }
  
    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #FFFFFF;
    }
  }
  
  .confirm-button__checkout_kosss {
    width: 234px;
    height: 42px;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-align: center;
    background: #FBD13E;
    color: #000000;
    cursor: pointer;
    margin-bottom: 95px;
  }
  

  