.breadcrumbs>* {
    display: inline-block;
    font-size: 16px;
    margin-right: 4px;

    @media (max-width: 555px) {
        font-size: 13px;
    }

    &.crumb:hover {
        color: #FBD13E;

        &:after {
            color: #fff;
        }
    }

    &.crumb:after {
        content: '/';
        margin-left: 4px;
    }

    &.crumb:last-child {
        color: #9EA2AA;

        &:after {
            display: none;
        }
    }
}

.breadcrumbs {
    @media (max-width: 555px) {
        text-align: center;
    }
}