.header {
  /*   background-color: #0f0f12; */
  padding: 50px 0;
  @media (max-width: 993px) {
    padding: 0;

    display: flex;
    margin-bottom: 20px;
  }

}

.headerWrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;


  @media (max-width: 993px) {
    height: 117px;
  }
  @media (max-width: 565px) {
    gap: 4px;
  }
  @media (max-width: 500px) {
    padding: 10px;
    height: 140px;
  }
  @media (max-width: 355px) {
    height: 128px;
  }

}

.iconWrapper {
  display: flex;
  gap: 80px;
  align-items: center;

  @media (max-width: 565px) {
    gap: 20px;
  }
}

@media (max-width: 565px) {
  .headerWrapper {
    gap: 4px;
  }
}