.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  color: #fbd13e;
  /*   width: 56px;
  height: 56px;
  border: solid 1px #fff;
  border-radius: 100%;
  background-color: #000; */
}

.link {
  width: 230px;
  position: relative;
}

.img {
  display: block;
  width: 100%;
}

.discount {
  width: 130px;
  height: 135px;
  position: absolute;
  top: 23px;
  left: 0;

  @media (max-width: 1300px) {
    width: 60px;
    height: 75px;
  }

}

.price {
  position: absolute;
  top: 95px;
  left: 35px;
  font-size: 22px;
  font-weight: bold;

  @media (max-width: 1300px) {
    top: 60px;
    left: 10px;
    font-size: 16px;
  }

}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: -105px;
  width: 56px;
  height: 56px;
  border: solid 1px #fff;
  border-radius: 100%;
  background-color: #000;

  @media (max-width: 1200px) {
    width: 50px;
    height: 50px;
    margin: 0 8px;
  }

  @media (max-width: 768px) {
    margin: 0 14px;
  }

  @media (max-width: 650px) {
    top: -80px;
    margin-right: calc(50% - 70px);
  }
}

.carousel-control-prev {
  left: auto;
  right: 80px;

  @media (max-width: 1200px) {
    right: 65px;
  }
}

.carousel-indicators [data-bs-target] {
  background-color: #000;
  width: 30px;
  height: 30px;
  margin: 0 20px;
  border-radius: 100%;

  @media (max-width: 1200px) {
    width: 20px;
    height: 20px;
  }

  @media (max-width: 768px) {
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }

  @media (max-width: 400px) {
    display: none;
  }
}