.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal>.swiper-pagination-bullet {
  margin: 4px 8px;
  width: 25px;
  height: 25px;
  background-color: #007bff;
  opacity: 0.5;

  &.swiper-pagination-bullet-active {
    background-color: #fbd13e;
    opacity: 1;
  }
}

.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden>.swiper-button-prev,
.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden>.swiper-button-next {
  color: #b70000;
}